<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/css/salas.css">
    <title>Salas</title>
</head>

<body class="bg-light">
    <div class="container col-md-6 col-sm-8 mt-5 bg-light user shadow p-3 rounded-3">
        <form action="/auth">
            <input type="hidden" id="userId">
            <h3 class="border-bottom border-5 mb-3 p-3">Meus dados</h3>
            <div class="mb-2">
                <label for="username">Username</label>
            </div>
            <div class="d-flex justify-content-between">
                <input type="text" id="username" class="form-control me-2" placeholder="Username">
                <button class="btn btn-warning" id="btn-save">Salvar</button>
            </div>
            <div class="footer border-top border-5 mt-2 pt-3">
                <button class="btn btn-danger w-100" id="btn-delete"><i class="bi bi-trash-fill"></i> Deletar usuário</button>
            </div>
        </form>
    </div>

    <div class="container col-md-6 col-sm-8 mt-5 bg-light shadow p-3 rounded-3">
        <h3 class="border-bottom border-5 mb-3 p-3">Salas</h3>
        <ul class="list-group" id="salas"></ul>
        <div class="footer border-top border-5 mt-2 pt-3 d-flex justify-content-between">
            <input type="text" class="form-control me-3" id="sala-escolhida" placeholder="Escolha uma sala para jogar!"
                readonly>
            <button class="btn btn-warning p-2 w-50" id="btn-jogar">Jogar</button>
        </div>
    </div>

    <button type="button" id="btn-abrir-modal" class="btn btn-primary d-none" data-bs-toggle="modal"
        data-bs-target="#modalInvite"></button>

    <div class="modal fade" id="modalInvite" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close d-none" id="btn-closeX" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <div class="modal-header bg-primary text-light">
                    <h1 class="w-100 modal-title fs-5 text-center text-uppercase" id="modalInviteLabel">
                        <i class="bi bi-exclamation-triangle"></i> Convite recebido <i
                            class="bi bi-exclamation-triangle"></i>
                    </h1>
                </div>
                <div class="modal-body fs-5">
                    <strong id="user-modal"></strong> te convidou para jogar!!!
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel-invite" class="btn btn-danger" data-bs-dismiss="modal"><i
                            class="bi-x-lg"></i>
                        Cancelar</button>
                    <button type="button" id="accept-invite" class="btn btn-success"><i class="bi-check-lg"></i>
                        Aceitar</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" id="btn-modal-delete" class="btn btn-primary d-none" data-bs-toggle="modal"
        data-bs-target="#modal-delete"></button>

    <div class="modal fade" id="modal-delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger text-light">
                    <h1 class="w-100 modal-title fs-5 text-center text-uppercase" id="modalInviteLabel">
                        <i class="bi bi-exclamation-triangle"></i> EXCLUIR CONTA <i
                            class="bi bi-exclamation-triangle"></i>
                    </h1>
                </div>
                <div class="modal-body fs-5">
                    Tem certeza que deseja excluir???
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-close" class="btn btn-secondary" data-bs-dismiss="modal"><i
                            class="bi-x-lg"></i>
                        Cancelar</button>
                    <button type="button" id="deletar-conta" class="btn btn-danger"><i class="bi-check-lg"></i>
                        Sim</button>
                </div>
            </div>
        </div>
    </div>

    <a href="/auth/logout/" class="btn btn-primary position-absolute top-0 start-0 mt-3 ms-3 btn-bs-primary"><i
            class="bi bi-caret-left-fill"></i> Voltar</a>

    <!-- Button trigger modal -->
    <button style="height: 50px; width: 50px; border-radius: 50%;" type="button" id="btn-duvida"
        class="btn btn-primary position-absolute bottom-0 end-0 mb-2 me-2 fs-3 d-flex justify-content-center align-items-center btn-bs-primary" data-bs-toggle="modal"
        data-bs-target="#comoJogar">
        ?
    </button>

    <!-- Modal -->
    <div class="modal fade" id="comoJogar" tabindex="-1" aria-labelledby="comoJogarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border-0">
                <div class="modal-header bg-dark">
                    <h1 class="modal-title fs-5" id="comoJogarLabel">Como Jogar???</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ol>
                        <li>Vire as cartas</li>
                        <li>Encontre mais pares de frutas que seu adversário</li>
                        <li><i>Nota: não recarregue a página: isto desconectará ambos jogadores da partida!(eu acho)</i>
                        </li>
                    </ol>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-primary ok-modal" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Botão para exibir o Toast -->
    <button type="button" class="btn btn-danger d-none" id="showToastBtn">Exibir Erro</button>

    <!-- Container para o Toast -->
    <div id="toastContainer" class="position-fixed bottom-0 end-0 p-3" style="z-index: 1050;">
        <div id="toastMessage" class="toast align-items-center border-0" role="alert" aria-live="polite"
            aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">Uai</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Fechar"></button>
            </div>
        </div>
    </div>

    <!-- <button style="height: 50px; width: 50px; border-radius: 50%;" type="button"
        class="btn btn-dark position-absolute top-0 end-0 mt-3 me-3 fs-3 d-flex justify-content-center align-items-center" id="toggle-theme">
        <i class="bi bi-moon-fill text-light"></i>
    </button> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/assets/js/salas.js"></script>

</body>

</html>